.dialog {
	padding: var(--spacing-medium);
	background-color: var(--color-quinary);
	color: var(--color-zero);
	border-color: var(--color-zero);
}

.dialog::backdrop {
	background: rgba(0, 0, 0, 0.9);
}