:root {
	--color-negative: #051932;
	--color-zero: #FFFCEE;
	
	--color-primary: #f25a70;
	--color-secondary:  #62C370;
	--color-tertiary: #828282;
	--color-quaternary: #600000;
	--color-quinary: #7C5E99;
	--color-senary: #F5D547;
}